.elementor-994 .elementor-element.elementor-element-722373e:not(.elementor-motion-effects-element-type-background),
.elementor-994 .elementor-element.elementor-element-722373e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #dce6e9;
}

.elementor-994 .elementor-element.elementor-element-722373e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-994 .elementor-element.elementor-element-722373e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-994 .elementor-element.elementor-element-1207888.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-1207888.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-1207888>.elementor-element-populated {
    margin: 0px 15px 0px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0px 0px 0px 0px;
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(25px/2);
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(25px/2);
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(25px/2);
    margin-left: calc(25px/2);
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-25px/2);
    margin-left: calc(-25px/2);
}

body.rtl .elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-25px/2);
}

body:not(.rtl) .elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-25px/2);
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-994 .elementor-element.elementor-element-03c86a1 {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-icon {
    padding-right: 1px;
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-item>a {
    font-size: 15px;
}

.elementor-994 .elementor-element.elementor-element-03c86a1 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-994 .elementor-element.elementor-element-20755f6.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-20755f6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-20755f6.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-994 .elementor-element.elementor-element-075940f {
    --grid-template-columns: repeat(0, auto);
    width: auto;
    max-width: auto;
    --icon-size: 14px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-994 .elementor-element.elementor-element-075940f .elementor-widget-container {
    text-align: right;
}

.elementor-994 .elementor-element.elementor-element-075940f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-994 .elementor-element.elementor-element-075940f .elementor-social-icon {
    background-color: #E5EEEC00;
    --icon-padding: 0.6em;
}

.elementor-994 .elementor-element.elementor-element-075940f .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-994 .elementor-element.elementor-element-075940f .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-994 .elementor-element.elementor-element-075940f .elementor-social-icon:hover {
    background-color: #9D948200;
}

.elementor-994 .elementor-element.elementor-element-075940f .elementor-social-icon:hover i {
    color: var(--e-global-color-primary);
}

.elementor-994 .elementor-element.elementor-element-075940f .elementor-social-icon:hover svg {
    fill: var(--e-global-color-primary);
}

.gv-sticky-wrapper.is-fixed>.elementor-section {
    background: #FFFFFF !important;
}

.elementor-994 .elementor-element.elementor-element-6dec4c0>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-994 .elementor-element.elementor-element-23cb8cc {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00000033;
}

.elementor-bc-flex-widget .elementor-994 .elementor-element.elementor-element-5b0560c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-5b0560c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-5b0560c>.elementor-element-populated {
    padding: 0px 15px 0px 0px;
}

.elementor-994 .elementor-element.elementor-element-76b328d .gsc-logo .site-branding-logo {
    max-width: 145px;
}

.elementor-994 .elementor-element.elementor-element-48d7460>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-994 .elementor-element.elementor-element-f7d3ab6>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-994 .elementor-element.elementor-element-f7d3ab6 .gva-navigation-menu ul.gva-nav-menu>li .submenu-inner,
.gva-navigation-menu ul.gva-nav-menu>li ul.submenu-inner {
    min-width: 250px;
}

.elementor-bc-flex-widget .elementor-994 .elementor-element.elementor-element-aa0009a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-aa0009a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-994 .elementor-element.elementor-element-aa0009a.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-994 .elementor-element.elementor-element-aa0009a>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-994 .elementor-element.elementor-element-732cb76 {
    width: auto;
    max-width: auto;
}

.elementor-994 .elementor-element.elementor-element-732cb76>.elementor-widget-container {
    margin: 0px 20px 0px 0px;
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box {
    text-align: center;
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box .control-search i {
    font-size: 18px;
    color: var(--e-global-color-text);
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box .control-search svg {
    width: 18px;
    fill: var(--e-global-color-text);
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box .control-search {
    width: 45px;
    height: 45px;
    padding: 14px 0px 0px 0px;
    background: #0000001A;
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box .control-search:hover i {
    color: var(--e-global-color-primary);
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box .control-search:hover svg {
    fill: var(--e-global-color-primary);
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box .gva-search .gva-search-content {
    padding: 15px 15px 15px 15px;
}

.elementor-994 .elementor-element.elementor-element-732cb76 .gsc-search-box .gva-search-content {
    width: 200px;
}

.elementor-994 .elementor-element.elementor-element-ea04d1a {
    width: auto;
    max-width: auto;
}

.elementor-994 .elementor-element.elementor-element-ea04d1a .gva-user ul.gva-nav-menu {
    min-width: 250px;
}

.elementor-994 .elementor-element.elementor-element-ea04d1a .gva-user .login-account .profile .avata-icon i {
    font-size: 26px;
    color: var(--e-global-color-text);
}

.elementor-994 .elementor-element.elementor-element-ea04d1a .gva-user .login-account .profile .avata-icon svg {
    width: 26px;
    fill: var(--e-global-color-text);
}

.elementor-994 .elementor-element.elementor-element-ea04d1a .gva-user .login-account .profile .avata-icon {
    background-color: #0000001A;
    padding: 5px 0px 0px 0px;
}

.elementor-994 .elementor-element.elementor-element-ea04d1a .gva-user:hover .login-account .profile .avata-icon i {
    color: var(--e-global-color-primary);
}

.elementor-994 .elementor-element.elementor-element-ea04d1a .gva-user:hover .login-account .profile .avata-icon svg {
    fill: var(--e-global-color-primary);
}

@media(min-width:768px) {
    .elementor-994 .elementor-element.elementor-element-5b0560c {
        width: 15.749%;
    }

    .elementor-994 .elementor-element.elementor-element-48d7460 {
        width: 71.415%;
    }

    .elementor-994 .elementor-element.elementor-element-aa0009a {
        width: 12.5%;
    }
}